/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap-utilities";

// Generate utilities for Cursor
$utilities: map-merge(
    $utilities,
    (
      "cursor": (
        property: cursor,
        values: auto default pointer wait text move help not-allowed
      )
    )
);

@import "~bootstrap/scss/bootstrap";

// My lib global style
@import "dist/my-lib/src/assets/style";
